{%extends 'layout.html'%}
{%block content%}
<h1> CODA </h1>
<p>
    Provide Business System Analyst support services, as necessary, for technology support. Support includes:
    coordination with the DART Technology department, analyzing problems, developing solutions, providing
    administrative, technical and maintenance support for various technology applications and systems. Technology
    support may also include enterprise application support services. Activities include identifying, defining,
    documenting, and implementing business processes from an agency perspective. In addition, the assistance with
    implementation of enterprise agency applications. Enterprise applications may include the enterprise project
    management, enterprise asset management, and
    enterprise document management systems

</p>

{% endblock content %}